<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.domye.picture.api.mapper.VoteOptionsMapper">

    <resultMap id="BaseResultMap" type="com.domye.picture.api.service.vote.model.entity.VoteOption">
        <id property="id" column="id"/>
        <result property="activityId" column="activityId"/>
        <result property="optionText" column="optionText"/>
        <result property="voteCount" column="voteCount"/>
        <result property="createTime" column="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,activityId,optionText,voteCount,createTime
    </sql>
</mapper>
