<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.domye.picture.service.mapper.CommentsContentMapper">

    <resultMap id="BaseResultMap" type="com.domye.picture.model.entity.comment.CommentsContent">
            <id property="commentId" column="commentId" />
            <result property="commentText" column="commentText" />
            <result property="commentTime" column="commentTime" />
    </resultMap>

    <sql id="Base_Column_List">
        commentId,commentText,commentTime
    </sql>
</mapper>
